.card{
    perspective: 150rem;
    position: relative;
    -moz-perspective: 150rem;
    height: 50rem;

    &__side{
        color: white;
        font-size: 2rem;

        height: 50rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 1s ease;

        backface-visibility: hidden;

        &--front{
            background-color: $color-white;
        }

        &--back{
            background-color: green;
            transform: rotateY(180deg);
        }
    }    

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}