.story{
    
    &__pictures{
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../../img/back.jpg);
        grid-column: full-start / col-end 4;
        background-size: cover;

        display: grid;
        grid-template-rows:  repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;

        @include respond(bg-medium){
            grid-column: 1 / -1;
            padding: 6rem;
        }
    }

    &__img--1{
        grid-area: 2 / 2 / 6 / 6;
        width: 100%;

        box-shadow: 0 2rem 5rem rgba(black, .2);

        @include respond(bg-medium){
            grid-column: 1 / 5;
            grid-row: 1 / -1;
        }
    }

    &__img--2{
        grid-area: 4 / 4 / 6 / 7;
        width: 120%;
        z-index: 1;

        box-shadow: 0 2rem 5rem rgba(black, .4);

        @include respond(bg-medium){
            grid-row: 1 / -1;
            width: 100%;
        }
    }
    
    &__content{
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;
        
        padding: 6rem 7vw;
        
        /*
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        */

        display: grid;
        align-content: center;
        justify-items: start;

        @include respond(bg-medium){
            grid-column: 1 / -1;
            grid-row: 5/6;
        }
    }
    
    &__text{
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 3rem;
    }
}